.nav-tabs {
  &__items {
    border-bottom: 2px solid $color-blue;
    display: flex;
    justify-content: space-around;
    margin-bottom: 18px;
    @media screen and (min-width: 992px) {
      justify-content: center;
    }
  }

  &__btn {
    width: 100%;
    background: $color-white;
    border: 0;
    font-size: 12px;
    color: $color-blue;
    padding: 10px 5px;
    position: relative;
    transition: all 0.2s ease;
    max-width: 170px;
    cursor: pointer;
    @media screen and (min-width: 450px) {
      font-size: 16px;
      padding: 16px;
    }
    @media screen and (min-width: 992px) {
      max-width: 100%;
      font-size: 18px;
    }
    &::before {
      content: " ";
      display: block;
      width: 10px;
      height: 10px;
      background: $color-white;
      border-top: 2px solid $color-blue;
      border-left: 2px solid $color-blue;
      position: absolute;
      top: 93%;
      left: 50%;
      transform: translateX(-50%) rotate(225deg);
      display: none;
      @media screen and (min-width: 576px) {
        width: 15px;
        height: 15px;
        top: 89%;
      }
    }
    &.active {
      font-size: 14px;
      color: $color-gray-s3;
      pointer-events: none;
      @media screen and (min-width: 450px) {
        font-size: 18px;
      }
      @media screen and (min-width: 992px) {
        font-size: 24px; 
      }
      &::before {
        display: block;
      }
    }
  }

  &__content--items {
    display: none;
    opacity: 0;
    transform: translateY(15px);
    padding: 0;
    animation: fadeIn 0.5s ease 1 forwards;
    padding: 0 20px;
    &.hidden {
      display: none;
      opacity: 0;
    }
    &.active {
      display: block;
      opacity: 1;
    }
    .slick-track {
      padding-bottom: 20px;
    }
    .paragraph {
      @media screen and (min-width: 450px) {
        padding: 0 10px; 
      }
      @media screen and (min-width: 992px) {
        padding: 0 15px;
      }
    }
    @keyframes fadeIn {
      100% {
        opacity: 1;
        transform: none;
      }
    }
    .slick-arrow {
      position: absolute;
      bottom: 56%;
      transform: translatey(50%);
      color: $color-gray-s4;
      left: -20px;
      background: none;
      border: 0;
      font-size: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
      &:before {
        content: '';
        background: url(../../images/icons/arrow.svg) no-repeat;
        display: block;
        height: 30px;
        width: 20px;
      }
      &:hover:before {
        background: url(../../images/icons/arrow-hover.svg) no-repeat;
      }
      &.slick-next {
        left: inherit;
        right: -20px;
        transform:rotate(180deg);
      }
    }

    .slick-dots {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      li {
        button {
          background: none;
          border: solid 2px $color-blue;
          border-radius: 50%;
          font-size: 0;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        &.slick-active {
          button {
            background: $color-blue;
          }
        }
      }
    }
  }

}

.cf-tab {
  &__content--wrapper {
    max-width: 1200px;
    margin: auto;
  }
}